  * {
      margin: 0;
      padding: 0;
  }

  /* * {
      outline: 1px solid rgb(255, 0, 0);
      temporary debug it is the good way od debuggin for the responsive
  } */

  body {
      background-color: #162335;
      /* background-color: #b0bdc8; */
      color: #babfc7;
      font-family: "Roboto", sans-serif;  
       /* font-family:"Ubuntu",sans-serif; or we can use the*/
      overflow-x: hidden;  /* prevents horizontal scroll */
      width: 100%;
  }

  nav {
      display: flex;
      height: 9vh;
      background: #152c4c;
      /* background-color: #61b9fd; */
      align-items: center;
      justify-content: space-between;
  }



  .right ul {
      display: flex;
      gap: 3rem;
      list-style: none;
      justify-self: flex-end;
      font-weight: 500;
  }

  .right ul li a {
      text-decoration: none;
       color: #babfc7;
  }

  .right ul li a:hover {
      color: rgb(172, 176, 211);
      font-weight: 800;
  }

  .left {
      font-size: 1.4rem;
      font-weight: 900;
  }

  .fristSection {
      display: flex;
      justify-content: space-around;
      margin: 130px 0;
      align-items: center;
  }


  .leftsection {
      width: 30%;
      font-size: 1.9rem;
  }


  .leftsection .buttons {
      padding: 24px;
      font-size: 4rem;
  }

  .leftsection .buttons button:hover {
      background-color: #4f6987;
      color: rgb(11, 11, 11);
  }

  .leftsection .buttons button {
      background-color: #253b56;
      /* background-color: #80dedf; */
      color: rgb(205, 199, 199);
      font-size: 0.8rem;
      padding: 10px;
      border: none;
      border-radius: 23px;
      /* box-shadow: 3px 3px 6px #2e0667; */
      box-shadow: 1px 4px 2px 2px  #4587a9;
      font-size: medium;
      font-weight: 550;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      cursor: pointer;
  }

  .rightsection {
      width: 30%;
  }

  .rightsection img {
      width: 90%;
      border-radius: 100%;
      box-shadow: 1px 25px 44px 7px #4587a9;
  }



  #about p {
      margin: 12px;
      padding: 15px;
      /* width: 75vw; */
      width: 100%;
      max-width: 90%;
      justify-self: center;
      font-size: 1.6rem;
      box-shadow: 8px 4px 1px 3px #4587a9;
      border-radius: 100%;
  }

  #about h1 {
      justify-self: center;
  }

  .skill {
      height: 68vh;
      display: flex;
      gap: 15%;
      width: 60%;
      max-width: 100%;
      justify-self: center;
      flex-wrap: wrap;
      font-size: 1.8rem;
      /* background: url(asset/Gradient.png); */
      border-radius: 100%;
      box-shadow: 5px 5px 1px 3px #4587a9;
  }

  .skill ul {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 52px;
  }

  .skill ul li {
      list-style-type: none;
      margin: 9px;
  }

  .skill ul li img {
      height: 30px;
  }

  h1 {
      justify-items: center;
  }



  .secondsection {
      max-width: 70vw;
      margin: auto;
      display: grid;
      grid-template-columns: 30% 30%;
      gap: 25px;
      padding: 19px;
      justify-content: space-around;
      /* justify-self: center; */
      /* border: 2px solid red; */
      justify-items: anchor-center;

  }


  .secondsection .card {
      min-height: 13vh;
      min-width: 31vw;
      /* border: 2px solid white; */
      justify-items: center;
      /* background-color: #05a5bb; */
      background-color: #127cb536;
      border-radius: 12px;
      display: grid;
      padding: 10px 0;
  }

  .secondsection .card a {
      text-decoration: none;
      color: #000000;
      font-weight: 600;
  }

  .secondsection .card button {
      border-style: none;
      padding: 9px;
      border-radius: 25px;
      /* margin: 1% 43%; */
  }

  .secondsection .card button:hover {
      background-color: #63abd5cf;
      /* font-weight: 700; */
      /* box-shadow: 2px 3px 4px 4px #2b648d; */
  }


  .thirdsection {
      display: flex;
      justify-content: space-between;
      justify-self: center;
      padding: 10px;
      gap: 30px;
      max-width: 85vw;

      /* border: 2px solid red; */
  }

  .thirdsection .card {
      /* border: 1px solid rgb(250, 250, 250); */
      padding: 9px;
      justify-items: center;
      width: 15vw;
      border-radius: 10px;
      background-color: #127cb536;
  }

  /* .thirdsection .card a {
      text-decoration: none;
      color: rgb(245, 245, 245);
  font-weight: 700;
  } */

  .thirdsection .card button {
      border-style: none;
      padding: 9px;
      border-radius: 25px;
      margin: 5px 55px;
      font-weight: 600;
  }

  .thirdsection .card button:hover {
      background-color: #63abd5cf;
      /* font-weight: 700; */
  }

  .cs {
      padding: 14px 0;
      justify-self: center;
  }

  .thirdsection img {
      padding: 5px;
      /* max width: 38.9vh; */
      min-width: 37vw;
      min-height: 80vh;
      background-color: rgb(58, 63, 67);
      border-radius: 4px;
  }


  .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 6px 16px 4px #0a608b;

  }

  .fourthsection {
      min-height: 25vh;
  }

  .fourthsection span {
      display: flex;
      justify-content: space-around;
  }

  .fourthsection div {
      display: flex;
      justify-items: center;
      justify-content: center;
      gap: 132px;
      margin: 32px;
  }

  .fourthsection div img {
      height: 15px;
  }

  .fourthsection div a {
      text-decoration: none;
      color: rgb(197, 194, 194);
      font-weight: 600;
  }

  footer {
      bottom: 0;
      position: relative;
      height: 22vh;
      box-shadow: 10px -2px 20px 6px rgb(136, 111, 111);
      display: flex;
      justify-content: space-evenly;

  }

  footer span {
      padding: 12px;
      font-size: large;
      font-weight: 900;
      color: #c1c9e9;
      align-self: center;
  }

  footer div ul {
      list-style-type: none;
      padding: 52px;
  }

  .footer ul li a {
      text-decoration: none;
      color: rgb(191, 186, 186);
      font-weight: 550;
  }



  /* Popup Viewer */
  .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
  }

  .popup-content {
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      max-width: 90%;
      max-height: 90%;
  }

  .popup-content img {
      width: 100%;
      min-height: 50%;
      min-width: 55%;
      max-height: 80vh;
      border: none;
      border-radius: 6px;
  }

  .popup .close-popup {
      background: #3d2b2b;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-bottom: 10px;
      display: block;
  }

  .popup .close-popup:hover {
      background: #dc2626;
  }


  @media (max-width:700px) {

      nav {
          align-items: center;
      }

      nav .left {
          display: none;
      }

      nav .right ul {
          padding: 0 26px;
          font-size: 1.3rem;
          font-weight: bolder;
      }

      .leftsection {
          width: 100%;
          justify-items: center;
          justify-self: center;
          font-size: 1.2rem;
          padding: 0 9px;
          ;
      }

      .leftsection .golder {
          font-size: 2.6rem;
      }

      .leftsection p {
          margin: 0 43px;
      }

      .leftsection #element {
          margin: 0 100px;
      }

      .leftsection .buttons {
          padding: 49px;
      }

      .leftsection .buttons button {
          padding: 18px;
          font-weight: bold;
      }

      .rightsection {
          display: none;
      }

      .about h1 {
          font-size: 2.2rem;
      }

      .about p {
          margin: 20px;
          margin-left: 52px;
          min-width: 85vw;
      }

      .skill {

          border-radius: 0;
          box-shadow: none;
          /* margin: 12px; */
          min-width: 100%;
          min-height: 60vh;
      }

      .skill ul li {
          list-style: none;
      }

      .skill ul li img {
          height: 30px;
      }

      .skill ul {
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
      }

      .secondsection {
          display: flex;
          flex-wrap: wrap;
          justify-items: center;
      }

      .secondsection .card {
          min-height: 17vh;
      }

      .secondsection .card p {
          padding: 0 17px;
      }

      .thirdsection {
          overflow: hidden;
          overflow: scroll;

      }

      .thirdsection .card {

          overflow: hidden;
          overflow: scroll;
          /* display: flex; */
          justify-content: space-between;
          justify-self: center;
          padding: 19px;
          gap: 35px;
          min-width: 55vw;

      }



      .popup-content {
          width: 69%;
          height: 35%;
      }

      .fourthsection {
          margin: 28px;
      }

      .fourthsection div {
          display: flex;
          gap: 50px;
          flex-wrap: wrap;
      }

      .fourthsection div a {
          display: flex;
          gap: 10px;
      }

      footer {
          min-width: 100%;
      }

      .footer ul {
          padding: 26px;
      }

      .footer ul li {
          padding: 9px;
      }

  }