.golder {
    color: rgba(44, 206, 227, 0.955);
    font-size: 3rem;
}

#element {
    color: #54c3dfb7;
}

main hr {
    border: 0;
    background: #819fc882;
    height: 3.2px;
    margin: 27px 87px;
}

@media (max-width:700px) {
    #element {
        color:#71cbe2;
    }

    main hr {
        background: #819fc882;
        height: 4px;
        margin: 15px;
    }
}